<div class="container">
    <div class="inner-container-login">
      <a href="<%= viewData.gitlab_redirect_url %>" class="login-button">
        <button>Login with Gitlab</button>
      </a>
    </div>
  </div>